.shortInfo {
    text-align: center;
    margin: 1rem;
}

.shortInfo span {
    padding: 0.1rem 0.8rem;
    text-transform: uppercase;
    font-size: 1.1rem;
}

.shortInfo span:first-child {
    border-right: 2px solid rgba(176, 174, 174, 0.93);
}

.shortInfo img {
    height: 1.3rem;
    width: 1.3rem;
    margin-right: 0.3rem;
    vertical-align: text-top;
}