.main {
    margin: 0 auto;
    position: relative;
    min-height: 90vh;
    animation: slide-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@keyframes slide-bottom {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
    }
}