.header {
    width: 60%;
    height: 7rem;
    background-color: #F9F9F9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 10%;
    border-radius: 2rem;
}

.header ul {
    list-style: none;
    display: flex;
    align-items: baseline;
    padding: 1rem;
}

.header li {
    margin-right: 1.5rem;
    font-size: 1.1rem;
    background-color: #ecdcdc;
    padding: 1rem;
    border-radius: 1rem;
    background-size: 300% 100%;
    transition: all .4s ease-in-out;
    font-weight: bold;
}

.header li:hover {
    font-size: 1.1rem;
    background-color: #e1b4b4;
    cursor: pointer;
    animation: nav-item 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    background-position: 100% 0;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #F8B6A3, #ecdfdd, #fff2f2, #F8B6A3);
}


.header a {
    text-decoration: none;
    color: black;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    color: #8d2e02;
    white-space: nowrap;
}

@keyframes nav-item {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.04);
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 2rem;
    }
    .header {
        width: 100%;
        text-align: center;
    }
    .header li {
        margin: 0.1rem;
        padding: 0.7rem;
    }
}

@media (max-width: 425px) {
    .header ul {
        display: none;
    }
/*    todo add extendable menu*/
}

@media (max-width: 1440px) {
    .header {
        width: 100%;
    }
    .title {
        font-size: 1.8rem;
    }
    /*    todo add extendable menu*/
}