.header {
    width: 100%;
    height: 6rem;
    background-color: white;
    display: flex;
    position: sticky;
    z-index: 1;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 10%;
    box-shadow: 1px 1px 12px 1px #cc9d9d;
    border-radius: 0 0 10px 10px;
}


.header ul {
    list-style: none;
    display: flex;
    align-items: baseline;
    padding: 1rem;
}

.header li {
    margin-right: 0.8rem;
    font-size: 1.3rem;
    box-shadow: 1px 1px 5px 1px #ddd;
    background-color: rgba(255, 202, 133, 0.53);
    padding: 1rem;
    border-radius: 1rem;
    background-size: 300% 100%;
    transition: all .4s ease-in-out;
    font-weight: bold;
}

.header li:hover {
    cursor: pointer;
    animation: nav-item 0.2s cubic-bezier(1, 0.575, 0.565, 1) both;
    background-position: 100% 0;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #d3eca8, #fffbaf, #fcaa81);
}

.header a {
    text-decoration: none;
    color: black;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    color: #c45c35;
    white-space: nowrap;
    text-shadow: 1px 1px orange;
    margin-right: 3rem;
    font-family: "MS Reference Sans Serif", serif;
}


@keyframes nav-item {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.04);
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 2rem;
    }
    .header {
        width: 100%;
        text-align: center;
    }
    .header li {
        margin: 0.1rem;
        padding: 0.7rem;
    }
    .header img {
        scale: 0.6;
        object-fit: contain;
    }
}

.menu__button {
    display: none;
}

@media (max-width: 425px) {
    .header ul {
        display: none;
    }
    .menu__button {
        display: block;
        font-size: 1.4rem;
    }
}

@media (max-width: 1440px) {
    .header {
        width: 100%;
    }

    .title {
        font-size: 2.5rem;
    }
}

@media (max-width: 320px) {
    .title {
        font-size: 1.8rem;
    }
}