.default-button {
    border: none;
    padding: 5px 0;
    width: 8rem;
    font-style: inherit;
    font-weight: bold;
    font-size: 1rem;
    background-color: rgb(191, 248, 217);
    border-radius: 20px;
    color: black;
    box-shadow: 1px 1px 5px #7a7979;
}

.default-button:hover {
    background-color: rgba(54, 183, 160, 0.47);
    cursor: pointer;
}

.default-button:disabled {
    background-color: #7a7979;
    cursor: not-allowed;
}

.default-button.confirmation {
    background-color: lightgreen;
}

.default-button.confirmation:hover {
    background-color: #64e864;
}

.default-button.cancellation {
    background-color: darksalmon;
}

.default-button.cancellation:hover {
    background-color: #ea7f5a;
}
