.default-button {
    border: none;
    padding: 12px;
    width: 50%;
    margin: 0.4rem auto;
    font-family: 'Lato', sans-serif;
    /*todo*/
    display: block;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: #ea5c1f;
    border-radius: 2rem;
}

.default-button:hover {
    background-color: #ee7643;
    cursor: pointer;
}

.default-button:disabled {
    background-color: #7a7979;
    cursor: not-allowed;
}

.default-button.confirmation {
    background-color: #228866;
}

.default-button.confirmation:hover {
    background-color: #439d7f;
}

.default-button.cancellation {
    background-color: rgba(234, 36, 36, 0.98);
}

.default-button.cancellation:hover {
    background-color: rgba(255, 71, 71, 0.98);
}

@media (max-width: 425px) {
    .default-button {
        width: 100%;
    }
}

