.default-button {
    border: none;
    padding: 12px;
    width: 50%;
    margin: 0.8rem auto;
    /*font-style: inherit;*/
    font-family: 'Lato', sans-serif;
    /*todo*/
    display: block;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: #ea5c1f;
    border-radius: 2rem;
}

.default-button:hover {
    background-color: #ee7643;
    cursor: pointer;
}

.default-button:disabled {
    background-color: #7a7979;
    cursor: not-allowed;
}

.default-button.confirmation {
    background-color: #228866;
}

.default-button.confirmation:hover {
    background-color: #439d7f;
}

.default-button.cancellation {
    background-color: darksalmon;
}

.default-button.cancellation:hover {
    background-color: #ea7f5a;
}
