.input {
    text-align: center;
    margin: 0.8rem auto;
}

.input input {
    border-radius: 30px;
    border: 1px solid #ead6d6;
    height: 2.5rem;
    width: 93%;
    padding-left: 3%;
}

.input input:focus, .input input:active {
    outline: 1px #969296 solid;
}

.input label {
    padding: 0.4rem;
    font-weight: bold;
    display: block;
}

@media (max-width: 425px) {
    .input {
        width: 100%;
        margin: 0.2rem auto;
    }
    .input input {
        width: 100%;
    }
}

