.input {
    text-align: center;
    margin: 0.8rem;
}

.input input {
    border-radius: 30px;
    border: 1px solid #ead6d6;
    height: 2.5rem;
    width: 93%;
    padding-left: 3%;
}

.input input:focus, .input input:active {
    outline: 1px #969296 solid;
}

.input label {
    padding: 0.4rem;
    font-weight: bold;
    display: block;
}
