.products__actions {
    display: flex;
    width: 80%;
    margin: 0.8rem auto 0;
}

.products__actions button {
    margin-right: 0.5rem;
}

.input {
    text-align: center;
    margin: 0.8rem auto;
}

.select__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.select {
    border-radius: 30px;
    border: 1px solid #ead6d6;
    height: 2.5rem;
    padding-left: 3%;
    width: 93%;
}

.select:focus, .select:active {
    outline: 1px #969296 solid;
}

.select option {
    padding: 0.4rem;
    font-weight: bold;
    display: block;
}

@media (max-width: 425px) {
    .select {
        width: 100%;
        margin: 0.2rem auto;
    }
}
