.card {
    background-color: white;
    width: 40%;
    margin: 5rem auto;
    padding: 2rem;
    border-radius: 2rem;
    animation: slide-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.list {
    font-size: 1.5rem;
    list-style-type: none;
}

.list li {
    padding: 0.3rem;
    border-bottom: 1px #cccccc solid;
}

.list li span {
    color: darkred;
    font-weight: bold;
    float: right;
}

.list__button {
    border-radius: 1rem;
    border: none;
    background-color: #ff7c37;
    font-weight: bold;
    color: white;
    margin: 0 0.5rem 0.2rem 0.8rem;
    font-size: 1.2rem;
    padding: 0.2rem 0.4rem;
}

.list__button:hover:before {
    content: 'Delete';
    cursor: pointer;
}

.list__button:before {
    content: 'X';
}

.amount {
    margin-right: 0.3rem;
}

@keyframes slide-bottom {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
    }
}

