.header {
    width: 50%;
    background-color: transparent;
    border: 1px solid white;
    margin: 3rem auto 0;
    border-radius: 2rem;
    padding: 0.3rem;
    font-size: 2rem;
    white-space: nowrap;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 33%);
}

.header h4 {
    margin: 0;
    align-self: center;
    border-right: 1px solid white;
}

.header button {
    width: 60%;
    height: 95%;
    align-self: center;
    grid-column: 3;
    font-size: 1.1rem;
}

.recipes__list {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    width: 70%;
    margin: 0 auto;
    padding-bottom: 5rem;
}

.recipes__button--add {
}


@media (max-width: 1024px) {
    .recipes__list {
        grid-template-columns: repeat(2, 50%);
        width: 95%;
    }
}

@media (max-width: 425px) {
    .recipes__list {
        grid-template-columns: 100%;
        width: 100%;
    }
}

@media (max-width: 1440px) {
    .recipes__list {
        width: 98%;
    }
}
