.header {
    width: 60%;
    }

.recipes__list {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    width: 70%;
    margin: 0 auto;
    padding-bottom: 5rem;
}

.recipes__button--add {
    margin-top: 2rem;
    width: 20%;
}


@media (max-width: 1024px) {
    .recipes__list {
        grid-template-columns: repeat(2, 50%);
        width: 95%;
    }
}

@media (max-width: 425px) {
    .recipes__list {
        grid-template-columns: 100%;
        width: 100%;
    }
}

@media (max-width: 1440px) {
    .recipes__list {
        width: 98%;
    }
}
