.card {
    background-color: white;
    padding: 2rem;
    width: 60%;
    margin: 2rem auto;
    border-radius: 2rem;
    display: grid;
    grid-template-columns: 45% 55%;
    gap: 20px;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.img {
    width: 100%;
    height: 100%;
    max-height: 350px;
    border-radius: 2rem;
    object-fit: cover;
    margin: 1rem 0;
    box-shadow: #ccc 2px 2px 3px 1px;
    grid-column: 1;
    grid-row: 2;
}

.header {
    grid-column: 1/3;
    grid-row: 1;
}

.main {
    grid-column: 2;
    grid-row: 2;
    z-index: 1;
}

.header {
    text-align: center;
}

.header h2 {
    font-size: 2rem;
    margin: 0.2rem;
}

.header h4 {
    margin: 0.1rem;
    color: #7a7979;
}

.preparation {
    z-index: -1;
    grid-column: 1/3;
    grid-row: 3;
    padding: 2rem;
    margin: 0.05rem 0.5rem 0 0.1rem;
    border-radius: 2rem;
    background-color: rgba(255, 224, 214, 0.52);
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.preparation h1 {
    font-size: 1.5rem;
    margin-top: 0.2rem;
}

.preparation p {
    font-size: 1.3rem;
    text-align: justify;
    text-indent: 1rem;
    line-height: 1.3;
}

@keyframes slide-in-right {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width: 1024px) {
    .card {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .card {
        display: block;
        padding: 0.3rem 0.3rem 0.7rem;
    }
}

@media (max-width: 425px) {
    .card {
        width: 95%;
    }
}

@media (min-width: 2560px) {
    .card {
        width: 50%;
    }
    .preparation {
        margin: 1rem 0;
    }
}




