* {
  box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
  background-color: white;
  padding: 2rem;
}

body {
  margin: 0;
  background-color: #FFC5A1;
  padding: 0 2rem 15rem;
  border-radius: 2rem;
}