* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to right, #ffe8b8, rgba(255, 116, 93, 0.85));
}

body {
  margin: 0;
  border-radius: 1rem;
}

@media(max-width: 425px) {
  html {
    padding: 0;
  }
}