.auth {
    width: 40%;
    margin: 5rem auto;
    padding: 2rem;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    background-color: #F9F9F9;
}

.auth header {
    font-size: 1.3rem;
}

@media (max-width: 1300px) {
   .auth {
       width: 50%;
   }
}

@media (max-width: 768px) {
    .auth {
        width: 95%;
    }
}



